.App {
  grid-template-rows: 150px auto 100px;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "main-container"
    "main-container"
    "footer";
  grid-gap: 20px;
  font-family: "Avenir"
}

html, body, #root, .App, .map-container, #map {
  min-height: 100vh;
}

.main-container {
  grid-area: main-container;
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 3fr;
  grid-template-areas:
    "sidebar-container map-container";
}

.App-header {
  grid-area: header;
  text-align: center;
  background-color: #222;
  padding: 20px;
  color: white;
  z-index: 2000;
}

.App-header h3 {
  margin: 0;
}

.hamburger {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    text-align: right;
    right: 0;
}

.hamburger-container {
  width: 30%;
  margin-right: auto;
  cursor: pointer;
  margin: 0;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

footer {
  grid-area: footer;
}

/*Info Window*/
.infowindow-buttons {
  padding: 10px;
  font-size: 1em;
  width: 25%;
  background-color: Transparent;
  outline: none;
  border: none;
}

#uber-fare {
  font-size: 0.7em;
  text-align: center;
}

.infowindow-buttons:hover {
  color: #17D1AB;
  cursor: pointer;
}

.map-info-window {
  border-color: black;
  max-width: 300px;
  text-align: center;
}

.sidebar-container {
  grid-area: sidebar-container;
  width: 23em;
  padding: 20px;
  background-color: #17D1AB;
  color: white;
  z-index: 1000;
}

.sidebar-search {
  z-index: 1000000;
}

#search-text {
  z-index: 1000000;
}

.sidebar-listing-container {
  max-height: 100%;
  max-width: 25em;
}

.sidebar-listing {
  padding: 0px !important;
  margin: 0;
}

.sidebar-button {
  background-color: black;
  color: white;
  border: 0;
}

.pagination {
  bottom: 0;
  position: absolute;
}

select, input, button {
    border-width: 0px;
}

.map-container {
  grid-area: map-container;
  width: 100%;
  height: 100%;
}

.listing {
  padding: 15px;
  list-style-type: none;
  text-align: left;
  align-items: center;
  font-size: 0.9em;
}

.listing:hover {
  color: Black;
  cursor: pointer;
}

.listing span {
  font-size: 0.7em;
}

.listing-name {
  padding: 0px;
  margin: 0px;
}

@media all and (max-width: 980px) {
  .main-container {
    display: initial;
  }
  .sidebar-container {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 100000;
  }
  .App-header {
    display: grid;
    grid-template-columns: 1fr 5fr;
  }
}

@media all and (max-width: 736px) {
  .main-container {
    display: initial;
  }
  .sidebar-container {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 100000;
  }
  .App-header {
    display: grid;
    grid-template-columns: 1fr 5fr;
  }
}

@media all and (max-width: 480px) {
  .main-container {
    display: initial;
  }
  .sidebar-container {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
  }
  .App-header {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }
  .App-header h3 {
    font-size: 1em;
  }
  .hamburger-container {
    margin: 5px;
  }
}
