.App {
  grid-template-rows: 150px auto 100px;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "main-container"
    "main-container"
    "footer";
  grid-gap: 20px;
  font-family: "Avenir"
}

html, body, #root, .App, .map-container, #map {
  min-height: 100vh;
}

.main-container {
  grid-area: main-container;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas:
    "sidebar-container map-container";

}

.App-header {
  grid-area: header;
  text-align: center;
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

footer {
  grid-area: footer;
}

/*Info Window*/
.infowindow-buttons {
  padding: 10px;
  font-size: 1em;
  width: 25%;
  background-color: Transparent;
  outline: none;
  border: none;
}

.infowindow-buttons:hover {
  color: Crimson;
}

.map-info-window {
  border-color: black;
  max-width: 300px;
  text-align: center;
}

.sidebar-container {
  grid-area: sidebar-container;
  width: 23em;
  padding: 20px;
  background-color: #17D1AB;
  color: white;
}

.sidebar-listing-container {
  max-height: 100%;
  position: fixed;
  overflow-y: scroll;
  max-width: 25em;
}

.sidebar-listing {
  padding: 0px !important;
}

.sidebar-button {
  background-color: black;
  color: white;
  border: 0;
}

select, input, button {
    border-width: 0px;
}


.map-container {
  grid-area: map-container;
}

.listing {
  padding: 15px;
  list-style-type: none;
  text-align: left;
  display: block;
  align-items: center;
  font-size: 0.9em;
}

.listing:hover {
  color: Black;
  cursor: pointer;
}

.listing span {
  font-size: 0.7em;
}

.listing-name {
  padding: 0px;
  margin: 0px;
}
